@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$FontTitle: 'Ubuntu', sans-serif;
$BackgroundColorUI: #006AB3;
$SecundaryColorUI: #F2F4F7;
$TextColorUI: #FFFFFF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

