@import './vars';
@import './mixins';
@import './settings';
@import './pages/components';
@import './pages/login';
@import './pages/account';
@import './pages/film';
@import './pages/filmWatched';
@import './pages/filter';
@import './pages/home';
@import './pages/notFound';
@import './pages/seacrh';
