.animationHome {
    transition: all 1.5s ease;
    transform-style: preserve-3d;
    animation: dot2 3.5s cubic-bezier(.55, .3, .24, .99) forwards;

    @keyframes dot2 {


        3% {
            opacity: 0;
        }

        30%,
        36% {
            opacity: 1;
        }

        100% {
            opacity: 2;
        }
    }

}

.cards {
    background-image: url('../../public/images/HomeBG.png');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}