#form {
  left: -20px;
  top: -10px;
  height: 40px;
  position: relative;
}


#form p {
  text-align: center;
}

#form .label-form {
  font-size: 25px;
}

input[type="radio"] {
  display: none;
}

.label-form {
  color: rgba(255, 255, 255, 0.2);
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.label-form:hover,
.label-form:hover ~ label {
  color: white;
}

input[type="radio"]:checked ~ .label-form {
  color: white;
}
