.containerCards {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background-image: url('../../../../public/images/HomeBG.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    .card {
        display: flex;
        width: 315px;
        height: 210px;
        background: rgba(141, 141, 141, 0.6);
        border-radius: 20px;
        margin: 40px 37px 40px 36px;
        padding: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));

        .container-images {
            min-height: 163px;
            min-width: 134px;

            .images-card {
                margin: 0 auto;
                padding: 0;
                width: 100%;
                height: 100%;
                background-color: #fafafa;
                border-radius: 20px 0px 0px 20px;

            }
        }

        .container-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;
            margin: 10px 10px 0 10px;


            .title-card {
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
                line-height: 21px;
                margin: 0 15px 5px 15px;
                text-align: center;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
            }

            .year-card {
                font-family: 'Roboto';
                color: #FFFFFF;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                padding: 0 0 10px 10px;
                margin: 0;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
            }

            .description-card {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                margin: 0 0 10px 0;
                color: #FFFFFF;
                height: 63px;
                width: 143px;
                overflow: hidden;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
            }
        }
    }
}