.inputBase {
	min-width: 300px;
	max-width: 400px;
	background-color: #252836;
	border-radius: 5%;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	-ms-border-radius: 5%;
	-o-border-radius: 5%;
}
